
<!-- Banner Carousel -->
<%= render partial: 'shared/banner_carousel' if params[:query].present? == false && params[:page].to_i < 2 %>
<% %>
<!-- Black Spacer -->
<%= render "shared/section_spacer", background_color: "background-color"  %>
<% %>
<!-- Black Spacer -->
<%= render "shared/section_spacer", background_color: "background-color"  %>
<% %>
<!-- movie list title section -->
<div class="ag-wrapper wireframe">
  <div class="ag-container wireframe">
    <% pagen = params[:page].to_i == 0 ? 1 : params[:page].to_i %>
    <h3 class="wireframe section-title white-text" style=""><%= (((pagen - 1) * 60) + 1) %> to <%= (pagen * 60) %> of <%= @movies_total %> movies on <span style="font-family: horrorFont;">All Gore</span></h3>
  </div>
</div>
<!-- Movies Index -->
<div class="ag-wrapper" style="overflow: visible;">
  <div class="ag-container" style="overflow: visible;">
    <div class="movies-container wireframe"style="">
      <% @movies.each do |movie| %>
        <div class="card" style="width: 100%; background: transparent;">
          <%= link_to movie_path(movie.id) do %>
            <div class="card wireframe">
              <% if movie.poster_url == "https://image.tmdb.org/t/p/w500/" %>
                <svg xmlns="http://www.w3.org/2000/svg" class="movie-card__poster-proportion wireframe" preserveAspectRatio="xMidYMid slice" width="100%" fill="transparent" style="" viewBox="0 0 500 750"></svg>
                <img src="<%= image_path('noposter.png') %>" class="movie-card__poster-image">
              <% else %>
                <svg xmlns="http://www.w3.org/2000/svg" class="movie-card__poster-proportion wireframe" preserveAspectRatio="xMidYMid slice" width="100%" fill="transparent" style="" viewBox="0 0 500 750"></svg>
                <img src="<%= movie.poster_url %>" class="movie-card__poster-image" style="">
              <% end %>
            </div>
          <% end %>
          <div class="movie-card__title-container wireframe" style="">
            <%= link_to movie_path(movie.id), style: 'position: relative; display: flex; text-decoration: none; float: left; width: fit-content;', class: '' do %>
              <span class="movie-card__title wireframe">
                <%= movie.title  %>
              </span>
            <% end %>
          </div>
          <!-- Release Date and Runtime -->
          <div class="movie-card__meta-data-container wireframe" style="">
            <span class="movie-card__meta-data"><%= movie.release_date[0..3] %>&nbsp; &#8226; &nbsp;<%= movie.runtime %> min</span>
          </div>
          <!-- Movie lists/horror subgenres -->
          <div class="movie-card__meta-data-container wireframe" style="">
            <% movie_lists_for_this_movie = [] %>
            <% movie.movielistconnectors.all.each do |movielistconnector| %>
              <% movie_lists_for_this_movie << List.find(movielistconnector.list_id).name if List.find(movielistconnector.list_id).name != "No Category" && List.find(movielistconnector.list_id).name != "" %>
            <% end %>
            <span class="movie-card__meta-data" style="float: right; display: <%= List.find(movie.movielistconnectors[0].list_id).name != "No Category" ? "block" : "none"  %>">
              <% movie_lists_for_this_movie.each do |movie_list_name| %>
                <% list_hash = List.find_by name: movie_list_name %>
                <%= link_to "##{movie_list_name}", list_path(list_hash.id), class: "movie-card__meta-data-link" %>&nbsp;
              <% end %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Pagintation -->
<div class="ag-wrapper wireframe ">
  <div class="ag-container wireframe" style="align-items: center; justify-content: center; flex-direction: row; width: 100%; padding-top: 20px;">
    <div class="pagination">
      <%= paginate @movies, window: 2 %>
    </div>
  </div>
</div>
<!-- Black Spacer -->
<%= render "shared/section_spacer", background_color: "background-color"  %>
<% %>
