<% banner_movie_instance = Movie.find { |movie| movie.title == banner_movie } %>
<% %>
<div class="carousel-cell landing-wrapper-background" id="" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0vh, rgba(0, 0, 0, 0) 60vh, rgba(0, 0, 0, 1) 100vh), url('<%= banner_movie_instance[:backdrop_image_url] %>');">
  <div class="ag-wrapper" style="">
    <div class="ag-container window-height wireframe" style="width: 100%; overflow: visible;">
      <div class="top-container-after-nav-bar window-height-minus-nav-height" style="">
        <div class="banner__movie-info-container wireframe">
          <!-- Flex Child 1 - left/top -->
          <div class="banner__movie-title-etc wireframe">
            <!-- Movie Title -->
            <h2 class="<%= banner_movie_instance[:title].length > 18 ? "banner__movie-landing-title--long" : "banner__movie-landing-title" %> wireframe"><%= banner_movie_instance[:title]  %></h2>
            <!-- Release Year -->
            <div class="relflowleft-container">
              <span class="banner__movie-landing-year wireframe" style=""><%= banner_movie_instance.release_date[0..3] %></span>
            </div>
            <!-- Tagline -->
            <p class="banner__movie-landing-tagline wireframe" style=""><%= banner_movie_instance.tagline %></p>
            <!-- Banner Movie link Button -->
            <div class="relflowleft-container">
              <%= link_to movie_path(banner_movie_instance.id) do %>
                <span class="btn btn-danger mt-1 banner__movie-link-button allgore-red-background">
                  <span style="display: -webkit-box; max-width: 100%; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden;">
                    <span style="">
                      <%= banner_movie_instance.title %>
                    </span>
                    <span> 
                      &nbsp; <i class="fas fa-chevron-right"></i>
                    </span>
                  </span>
                </span>
              <% end %>
            </div>
          </div>
          <!-- Flex Child 2 - right/bottom -->
          <!-- Movie Poster -->
          <div class="banner__movie-poster wireframe">
            <img class="banner__movie-poster-image" src="<%= banner_movie_instance[:poster_url] %>" style="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

